<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сторінка пошуку оцінок</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> --}}
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
     <link rel="stylesheet" href="/css/table.css">

</head>
<body>

   
        <nav>
            <div class="div_header">
                 <a class="navbar-brand" href="/auth/autorization">Вхід</a>
                <a class="navbar-brand" href="/auth/registration">Реєстрація</a>
                <a class="navbar-brand" href="/page/statistic">Статистика усіх військово-службовців</a>
             </div> 
        </nav>
   
<div class="icon">
    <img src="/img/emblam.png" alt="emblam">
</div>

    <div class="label_h"><h3 class="header1">Загальні відомості</h3></div>
    <div class="divclass"  style="margin-top: -10px" id="main">
        <input placeholder="Прізвище"  type="text"  name="surname" id="surname">
        <input placeholder="Ім'я"  type="text"  name="name" id="name">
        <input placeholder="По батькові"  type="text"  name="patronime" id="patronime">
        
             <button class="btn waves-effect waves-light" type="submit" id="findPerson">Перевірка наявності людини у системі</button>
        
    </div>

        
    <div class="divclass"  style="margin-top: 30px" hidden="true" id="test">
        <table  style="align-items: center">
            <thead>
               <tr>
                <th scope="col">Питання
                </th>
                <th scope="col">Оцінювання</th>
            </tr>
            </thead>
               
               <div>
                   <tbody class="tbody">
                <tr>
                    <td colspan="3"><h6>Загальна компетентність</h6></td>
                </tr>

                
                {{#each quastion}}
            
                <tr id={{this.id_quastion}} name='id_quastion'>
                    {{!-- <td>{{inc @index}}</td> --}}
                    <td>{{this.quastion}}</td>
                      <td style="text-align: center;" width="30%">
                        <label>
                            <input class="quastion" name="group_quastion_{{@index}}" type="radio"  value="5"/>
                            <span>5</span>
                        </label>
                        <label>
                            <input class="quastion" name="group_quastion_{{@index}}" type="radio" value="4" />
                            <span>4</span>
                        </label>
                        <label>
                            <input class="quastion" name="group_quastion_{{@index}}" type="radio" value="3" />
                            <span>3</span>
                        </label>
                        <label>
                            <input class="quastion" name="group_quastion_{{@index}}" type="radio" value="2" />
                            <span>2</span>
                        </label>
                    </td>
                </tr>

                {{/each}}


                <tr>
                    <td colspan="6"><h6>Фахова компетентність</h6></td>
                </tr>



                {{#each compatence}}

                <tr id={{this.id_competence}} name='id_compatence'>
                    {{!-- <td>{{inc @index}}</td> --}}
                    <td>{{this.competence}}</td>
                    <td style="text-align: center;" width="30%">
                        <label>
                            <input class="compatence" name="group_compatence_{{@index}}" type="radio"  value="5"/>
                            <span>5</span>
                        </label>
                        <label>
                            <input class="compatence" name="group_compatence_{{@index}}" type="radio" value="4" />
                            <span>4</span>
                        </label>
                        <label>
                            <input class="compatence" name="group_compatence_{{@index}}" type="radio" value="3" />
                            <span>3</span>
                        </label>
                        <label>
                            <input class="compatence" name="group_compatence_{{@index}}" type="radio" value="2" />
                            <span>2</span>
                        </label>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    <button class="btn waves-effect waves-light" type="save" style="margin-top: 20px;" id="save">Зберегти</button>
        
    </div>



{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> --}}

<script src="/font/findPerson.js"></script>
</body>
</html>
</body>
</html>