<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сторінка пошуку оцінок</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="header">
    <header class="link">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
             <a class="navbar-brand" href="/auth/autorization" style="font-size: 15px">Вхід</a>
            <a class="navbar-brand" href="/auth/registration" style="font-size: 15px">Реєстрація</a>
        </nav>
    </header>
    </div>
<div class="icon">
    <img src="/img/emblam.png" alt="emblam">
</div>

    <h3 class="header1">Загальні відомості</h3>
    <div class="divclass"  style="margin-top: -10px" id="main">
        <input placeholder="Прізвище"  type="text"  name="surname" id="surname">
        <input placeholder="Ім'я"  type="text"  name="name" id="name">
        <input placeholder="По батькові"  type="text"  name="patronime" id="patronime">
        
             <button class="btn waves-effect waves-light" type="submit" id="findPerson">Перевірка наявності людини у системі</button>
        
    </div>

        
    <div class="divclass"  style="margin-top: 30px" hidden="true" id="test">
        <table  class="table-bordered" style="align-items: center">
            <thead>
               <tr>
                <th scope="col">№</th>
                <th scope="col">Питання
                </th>
                <th scope="col">5</th>
                <th scope="col">4</th>
                <th scope="col">3</th>
                <th scope="col">2</th>
            </tr>
            </thead>
               
               <div class="table-responsive">
                   <tbody class="tbody">
                <tr>
                    <td colspan="6"><h6>Загальна компетентність</h6></td>
                </tr>

                
                {{#each quastion}}
            
                <tr id={{this.id_quastion}} name='id_quastion'>
                    <td>{{inc @index}}</td>
                    <td>{{this.quastion}}</td>
                      <td style="text-align: center;"><p>
                    <label>
                        <input name="quastion" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td style="text-align: center;"><p>
                    <label>
                        <input name="quastion" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                 <td style="text-align: center;"><p>
                    <label>
                        <input name="quastion" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td style="text-align: center;"><p>
                    <label>
                        <input name="quastion" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                </tr>

                {{/each}}


                <tr>
                    <td colspan="6"><h6>Фахова компетентність</h6></td>
                </tr>



                {{#each compatence}}

                <tr id={{this.id_competence}} name='id_compatence'>
                    <td>{{inc @index}}</td>
                    <td>{{this.competence}}</td>
                      <td style="text-align: center;"><p>
                    <label>
                        <input name="compatence" value="5" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td style="text-align: center;"><p>
                    <label>
                        <input name="compatence" value="4" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                 <td style="text-align: center;"><p>
                    <label>
                        <input name="compatence" value="3" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                <td style="text-align: center;"><p>
                    <label>
                        <input name="compatence" value="2" type="checkbox" aria-label="Checkbox for following text input">
                        <span></span>
                    </label>
                </p></td>
                </tr>
                {{/each}}
                

            </tbody>
        </table>

        
    </div>



{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> --}}

<script src="/font/findPerson.js"></script>
</body>
</html>
</body>
</html>