<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сторінка пошуку оцінок</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> --}}
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
     <link rel="stylesheet" href="/css/table.css">
</head>
<body>

    
        <nav>
          <div class="div_header">
                 <a class="navbar-brand" href="/auth/autorization">Вхід</a>
                <a class="navbar-brand" href="/auth/registration">Реєстрація</a>
                <a class="navbar-brand" href="/page/statistic">Статистика усіх військово-службовців</a>
             </div> 
        </nav>
    
<div class="icon">
    <img src="/img/emblam.png" alt="emblam">
</div>



    <div class="label_h"><h3 class="header1">Загальні відомості</h3></div>
     <div class="findPerson"  style="margin-top: -10px" id="main">
        <input placeholder="Прізвище"  type="text"  name="surname" id="surname">
        <input placeholder="Ім'я"  type="text"  name="name" id="name">
        <input placeholder="По батькові"  type="text"  name="patronime" id="patronime">
        <button class="btn waves-effect waves-light" type="submit" id="findPerson">Перевірка наявності людини у системі</button>
    </div>





<div class="divclass"  style="margin-top: 30px" hidden="true" id="test">
        <table  class="table-bordered" style="align-items: center">
            <thead>
               <tr>
                <th scope="col">№</th>
                <th scope="col">Перелік компетентностей
                </th>
                <th scope="col">Оцінка</th>
            </tr>
            </thead>
               
               <div class="table-responsive">
                <tbody class="tbody">
                    {{#each data as |main|}}
                        <tr>
                        <td colspan="3" id={{main.id_main}}><h6 style="text-align: center;">{{this.main}}</h6></td>
                        </tr>
                        {{#each main.array}}
                            <tr>
                            <td>{{inc @index}}</td>
                            <td>{{this.second}}</td>
                            <td>
                                <input name="{{main.id_main}}"  type="text" id={{this.id_second}}>
                            </td>
                        </tr>
                        {{/each}}
                    {{/each}}    

                </tbody>
               </div>
        </table>
    <button class="btn waves-effect waves-light" type="save" id="next" style="margin-top: 20px;">Далі</button>
    </div>
</div>


<div class="divclass"  style="margin-top: 30px" hidden="true" id="test1">
     <div class="input-field">
        <div style="width: auto; height: auto">
            <label>Відповідність займаній посаді</label>
            <select class="browser-default" id="vidpovidnist">
                <option value="Відповідає">Відповідає</option>
                <option value="Не відповідає">Не відповідає</option>
            </select>
        </div>
    </div>
    <div class="input-field">
        <input id="stagnenja" type="text" name="response" placeholder="Кількість стягнень">
    </div>
    <label>Число-5</label>
    <div class="input-field">
        <input id="zaohochenja" type="text" name="response" placeholder="Кількість заохочень">
    </div>
    <label>Число-5</label>
    <div class="input-field">
        <input id="year_point" type="text" name="response" placeholder="Оцінка службової діяльності">
    </div>
    <label>Число-5</label>
    <div class="input-field">
        <input id="nedolik" type="text" name="response" placeholder="Характерні недоліки службової діяльності">
    </div>
    <label>Розширена відповідь-Відсутні</label>
    <div class="input-field">
        <input id="pobaganja" type="text" name="response" placeholder="Побажання щодо підвищення якості підготовки випускників">
    </div>
    <label>Розширена відповідь - звернути увагу на фізичну підготовку</label>
    <div class="input-field">
        <input id="comander" type="text" name="response" placeholder="Безпосередній командир">
    </div>
    <label>П.І.Б</label>    
    <div class="input-field">
        <input id="comander_vch" type="text" name="response" placeholder="Командир військової частини">
    </div>
    <label>П.І.Б</label>
    <div style="height: 10px;"></div>
    <button class="btn waves-effect waves-light" type="save" id="finish" style="margin-top: 20px;">Далі</button>
</div>

<div class="divclass"  style="margin-top: 30px" hidden="true" id="last">
    <div class="input-field">
        <div style="width: auto; height: auto">
            <label>Висновок за відгуком</label>
            <select class="browser-default" id="opinion">
                <option value="Гідний до висування на вищу посаду">Гідний до висування на вищу посаду</option>
                <option value="Посаді відповідає">Посаді відповідає</option>
                <option value="Підлягає перевединю на нижчу посаду">Підлягає перевединю на нижчу посаду</option>
                <option value="Доцільно використовувати за іншим напрямком службової діяльності">Доцільно використовувати за іншим напрямком службової діяльності</option>
                <option value="Рекомендувати у звільнення у запас">Рекомендувати у звільнення у запас</option>
            </select>
        </div>
    </div>
    <button class="btn waves-effect waves-light" type="save" id="save">Зберегти</button>
</div>


{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> --}}

<script src="/font/comanderTest.js"></script>
</body>
</html>
</body>
</html>